.banner__title{
    background:lighten($off-white,2%);
    padding: $xs-size;
    border-bottom:1px solid  $dark-green;
    h3{
        text-align: center;
        color: darken($dark-green,10%);
        margin: 0;
        font-weight:550;
        font-size:$font-size-xxlarge;
    }
}