.content-container{
    max-width: 80rem;
    margin: 0 auto $l-size auto;
    padding: 0 $m-size;
    @media (max-width : $desktop-breakpoint){
        display:flex;
        flex-direction: column;
        max-width: auto;
    }
    
    
}
