.group__page-container{
    display:flex;
    flex-direction: column;
    background:lighten($off-white,1%);
    box-shadow: 6px 6px 6px darken($off-white,4%);
    overflow:hidden;
    border-radius:10px;
    margin:$m-size;
    padding: $l-size $l-size 0 $l-size;
}

.group__big-button{
    
    width:auto;
    display:block;
    margin: $m-size auto;
    background: white;
    border : 1px solid #cacccd;
    border-radius : 10px;
    height:40px;
    padding : auto;
    font-size: $font-size-xlarge;
    font-weight : 300;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition : background .3s ease;
    
    &:hover {
        background:lighen($off-white,2%);
        border: 1px solid $dark-green;

    }
    &:active {
        background:lighten($dark-green,10%);
    }
}

.group__text-info{
    font-style:italic;
    text-align: center;
}

.group__list-element{
    background:white;
    border-radius:30px;
    margin: $m-size;
    padding-bottom:$s-size;
    box-shadow: 6px 6px 6px darken($off-white,4%);

}

.group__description{
    margin: 0;
    margin: 0 $l-size ;
    font-size:$font-size-medium;
    font-weight: 200;
    
}

.group__content-display{
    @media (min-width : $desktop-breakpoint){
        flex-basis:2;
        width:70%;
    }
    
    padding: $l-size 0;

    margin: 0 auto $l-size auto;
}
.group__feed-display{
    width:100%;
}
.group__sidebar{
    @media (min-width : $desktop-breakpoint){
        flex-basis:1;
        width:25%;
    }
    
    margin-top: $xl-size;
        
}
.group__body{
    background:lighten($off-white,1%);
    margin: 0 0 0 6rem;
    box-shadow: 6px 6px 6px darken($off-white,4%);
    padding: 0 $l-size $m-size $l-size;
    display:flex;
    flex-direction: column;
    border:none;
    h3{
        margin-bottom: $xs-size;
    }
}

.group__block{
    margin-top:$m-size;
}

