.header{
    
    background:darken($dark-green,15%);
    
    padding:0;
    margin:0;
    width:auto;
    @media (min-width : $desktop-breakpoint){
        z-index: 0;
        flex: 0 10vh;
    }
    
    
    
    
}

.header__title{
    color:white;
    text-decoration: none;
    flex-grow:1px;
    padding : 0 30px;
    margin: 0 $s-size;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-xlarge;
    img {
        width:50px;
        height:50px;
        margin:0 $m-size;
        
    }
    h3 {
        
        padding:$s-size;
    }
    
}

.header__profile{
    flex-grow:1px;
    display:flex;
    align-items: center;
    
}
.header__content{
    align-items: center;
    padding : 0;
    margin:0;
    display: flex;
    width:100%;
    justify-content: space-between;
    flex-direction: row;
    
    
}

.header__picture{
    width : 50px;
    height : 50px;
    margin : 0 $m-size;
    border-radius:30px;
    padding : 0px;
}

.header__user{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-decoration: none;
    margin: 0 $m-size;
    padding:  $s-size;
    font-size : $font-size-large;
    transition : background .3s ease;
    
    &:hover {
        background:darken($dark-green,20%);
    }
    &:active {
        background:darken($dark-green,25%);
    }

}

.header__toolbuttoncontent{
    display : flex;
    position:fixed;
    flex-direction: column;
    margin-top:35px;
    background :darken($dark-green,15%);
    right : 0px;
    h3{
        color:white;
        text-decoration: none;
        margin:0;
        margin-left:10px;
        font-size:$font-size-medium;
        padding:0;
        cursor:pointer;
        
    }
    
}



.header__toolbutton__button{
    align-self: flex-end;
    border:none;
    font-weight: 300;
    color:white;
    background:darken($dark-green,15%);
    display:inline-block;
    font-size:3.2rem;
    padding : $s-size;
    text-decoration: none;
    line-height: 1;
    transition : background .3s ease;
    
    &:hover {
        background:darken($dark-green,20%);
    }
    &:active {
        background:darken($dark-green,25%);
    }

}

.header__toolbuttonelement{
    display:flex;
    text-decoration: none;
    align-items: center;
    flex-direction: row;
    padding: 5px 15px 5px 15px;
    justify-content: space-between;
    transition : background .3s ease;
    &:hover {
        background:darken($dark-green,20%);
    }
    
}


