.keyword__list{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    @media (min-width : $desktop-breakpoint){
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap;
    }
    
    
    
    
}

.keyword__container{
    margin:0 auto;
    padding: 0 auto;
}

.keyword__link{
    text-decoration: none;
    margin : $xs-size;
    padding:$xs-size;
    display:inline-block;
    border:1px solid darken($dark-green,15%);
    border-radius:10px;
    overflow: hidden;
    background:white;
    transition : background .3s ease;
    
    button{
        margin:0;
        padding:0;
        border:none;
        outline:none;
        background-color: transparent;
        color:darken($dark-green,15%);
        transition : color .3s ease;
        
    }
    &:hover {
        background:darken($dark-green,15%);
        button{
            color:white;
        }

    }
}