.keyword__list{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    
}

.keyword__link{
    text-decoration: none;
    margin : $xs-size;
    padding:$xs-size;
    color:darken($dark-green,15%);
    border:1px solid darken($dark-green,15%);
    border-radius:10px;
    overflow: hidden;
    background:white;
    transition : background .3s ease;
    transition : color .3s ease;
    &:hover {
        background:darken($dark-green,15%);
        color:white;

    }
}