.keyword__list{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    @media (min-width : $desktop-breakpoint){
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap;
    }
    
    
    
    
}

.keyword__feed-button{
    margin: $s-size $s-size;
    background: white;
    box-shadow: 2px 2px 2px  darken($dark-green,20%);
    border-radius : 10px;
    color:$grey;
    height:35px;
    padding : auto;
    font-size: $font-size-large;
    font-weight : 300;
    align-items: center;
    transition : background .3s ease;
    
    &:hover {
        background:$off-white;

    }
    &:active {
        background:lighten($dark-green,10%);
    }
    @media (max-width : $desktop-breakpoint){
        margin:0 auto $xs-size auto;
    }
}
.keyword__icon{
    color:  darken($dark-green,10%);
    margin: $s-size $s-size;
    
    
    font-size: $font-size-large;
    font-weight : 300;
    align-items: center;
}

.keyword__banner{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.keyword__container{
    margin:0 auto;
    padding: 0 auto;
}

.keyword__link{
    text-decoration: none;
    margin : $xs-size;
    padding:$xs-size;
    display:inline-block;
    border:1px solid darken($dark-green,15%);
    border-radius:10px;
    overflow: hidden;
    background:white;
    transition : background .3s ease;
    
    button{
        margin:0;
        padding:0;
        border:none;
        outline:none;
        background-color: transparent;
        color:darken($dark-green,15%);
        transition : color .3s ease;
        
    }
    &:hover {
        background:darken($dark-green,15%);
        button{
            color:white;
        }

    }
}