.offer-element__container{
    background:lighten($off-white,1%);
    box-shadow: 6px 6px 6px darken($off-white,4%);
    overflow:hidden;
    border-radius:10px;
}
.offer-element__title{
    
    h3{
        margin:0;
        color:white;
        background : darken($dark-green,15%);
        text-align:center;
        

    }
}

.offer-element__subtitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $s-size 0 0;
    margin: 0 $l-size;
    border-bottom: .5px solid $grey;
    font-size:$font-size-small;
    margin-top:0;

    
}

.offer-element__author{
    display:flex;
    flex-direction: row;
    align-items: center;
    text-decoration : none;
    &:hover{
        h3{
            color: $grey;
        }
    }
    h3{
        color:black;
    }
}

.offer-element__description-container{
    margin:$s-size $xl-size;
    p{
        font-weight:300;
        font-size:$font-size-medium;
    }
}

.offer-element__location{
    margin:$s-size $xl-size;
    font-style:italic;
    font-weight: 200;
    font-size:$font-size-small;
}

.offer-element__bottom-container{
    width:100%;
    
    text-align: center;
    img{
        
        width:400px;
        height:400px;
        margin:$m-size;
        border-radius:10px;
        
    }
}

.offer-element__comment-section{
    margin-top:$m-size;
    border-top: 1px ridge $dark-green;
    padding: 0 $m-size;
    background:darken($off-white,1%);
    h2{
        margin: $s-size;
    }
}

.offer-element__comment-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    

    span{
        font-weight:200;
        font-size: $font-size-xsmall;
        color:$grey;
        margin-top:0;
        margin-right:$l-size;
    }
    
}

.offer-element__comment-subheader{
    display:flex;
    flex-direction: row;
    
    text-decoration: none;
    
    img{
        margin-top:0;
    }
    p{
        
        margin-left: $m-size;
        font-weight: 400;
        font-size:$font-size-medium;
        color:black;
    }
}

.offer-element__comment-display{
    border-radius:25px;
    margin:$m-size $s-size;
    padding: 0 0 $s-size 0 ;
    
    background:lighten($off-white,2%);
    box-shadow: 6px 6px 6px darken($off-white,2%);
}

.offer-element__comment-picture{
    margin:0;
}

.offer-element__comment-content{
    margin: $s-size $l-size $s-size $l-size;
}

.offer-element__comment-text{
    
    resize:none;
    vertical-align: middle;
    border : 1px solid #cacccd;
    width:100%;
    height:7rem;
    margin:$s-size;
    padding : $m-size;
    font-size: $font-size-small;
    border-radius:20px;
    
}

.offer-element__comment-button{
    background: white;
    border : 1px solid #cacccd;
    margin: 0 0 $s-size $s-size;
    border-radius : 10px;
    height:35px;
    padding : auto;
    font-size: $font-size-large;
    font-weight : 300;
    transition : background .3s ease;
    width:100%;
    &:hover {
        background:lighen($off-white,2%);
        border: 1px solid $dark-green;

    }
    &:active {
        background:lighten($dark-green,10%);
    }
}
.offer-element__comment-form{
    
    padding-right:$m-size;
}

.offer-element__allcomments{
    margin:0;
    text-decoration: none;
    p{
        text-align: center;
        font-size:$font-size-medium;
        color: $dark-grey;
        font-weight: 500;
        &:hover{
            color:$dark-green;
        }
    }
    
    
    

}
.offer-element__collaborate-container{
    margin:$l-size;
    display:flex;
    
    flex-direction: column;
}
.offer-element__collaborate-button{
    
    align-self: flex-end;
    display:inline-block;
    padding:$m-size;
    font-size:$font-size-large;
    width: 40%;
    color:white;
    border-radius:10px;
    overflow: hidden;
    border:none;
    background:darken($dark-green,15%);
    transition : background .3s ease;
    
    



    
}

.offer-element__collaboration-form{
    padding:$s-size $l-size $s-size $s-size;
    border-radius:10px;
    border: 1px solid darken($dark-green,15%);
    
}