.manager__miniature-wrapper{
    background:$off-white;
    box-shadow: 6px 6px 6px $off-white;;
    overflow:hidden;
    border-radius:10px;
    margin: $m-size;
    padding: 0 $s-size;
    transition: background .3s ease;
    &:hover {
        background:darken($off-white,2%);
    }
    p,span{
        color:black;
        margin-top:0;
    }
}

.manager__miniature-list{
    display:flex;
    flex-direction: column;
    
}

.manager__no-offer{
    font-style:italic;
}

.manager__bottom-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    justify-content: space-between;
    
}
.manager__title-wrapper{
    border-bottom: 1px solid $grey;
    padding: 0 $s-size;
    margin-bottom:0;
    h3{
        color: black;
        font-weight: 550;
        margin:0;
        text-align: center;
        
    }
}

.manager__details-wrapper{
    padding: $s-size;
    margin:0;
    
}
.manager__container{
    display:flex;
    flex-direction: row;
    
}

.manager__offer-display{
    flex-basis:2;
    width:50%;
    padding: $l-size 0;

    margin: 0 auto $l-size auto;
    
}

.manager__sidebar{
    flex-basis:1;
    width:30%;
    margin-top:$xl-size;
    
}

.manager__sidebar-body{
    background:lighten($off-white,1%);
    margin: $m-size $m-size 0 $m-size;
    
    box-shadow: 6px 6px 6px darken($off-white,4%);
    padding: 0 $l-size $m-size $l-size;
    display:flex;
    flex-direction: column;
    border:none;
    h3{
        color:darken($dark-green,15%);
        margin-bottom:$xs-size;
    }
}

.manager__sidebar-members{
    display:flex;
    flex-direction: column;
    
}

.manager__sidebar-container{
    display:flex;
    flex-direction: column;
}

.manager__button{
    background: white;
    border : 1px solid #cacccd;
    border-radius : 10px;
    height:35px;
    padding : auto;
    display:inline-block;
    font-size: $font-size-medium;
    font-weight : 300;
    transition : background .3s ease;
    margin : $s-size 0;
    &:hover {
        background:$off-white;
        border: 1px solid $dark-green;
    }
    &:active {
        background:lighten($dark-green,10%);
    }
}

.manager__sidebar-bottom{
    background:lighten($off-white,1%);
    margin: $m-size $m-size 0 $m-size;
    
    box-shadow: 6px 6px 6px darken($off-white,4%);
    padding: $m-size $l-size $m-size $l-size;
    display:flex;
    flex-direction: column;
    border:none;
    
}
.manager__button-margin{
    margin-right:$m-size;
}