html{
    font-size : 62.5%;
}
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    height: 100%;
    min-height: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size : $m-size;
    color: $dark-grey;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-x: hidden;
    @media (min-width : $desktop-breakpoint){
        position:fixed;
        height: 100%;
        width : 100vw;
    }
    
    
    
}

button {
    cursor : pointer;
}

button:disabled {
    cursor : default;
}
.is-active{
    font-weight:bold;
}
.main-area{
    
    display: flex;
    flex-direction: column;
    background : white;
    @media (min-width : $desktop-breakpoint){
        
        flex-direction: row;
        height: 90vh;
        
    }
    
    
}
.main-body{
    
    padding : 0;
    flex: 1;
    order: 1;
    
    background : white;
    @media (min-width : $desktop-breakpoint){
        
        margin-bottom:7vh;
        overflow-y:auto;
        
    }
    
}

